
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
  display: block;
}
nav{
    padding: 0 150px;
}

ul li{
 list-style: none;
 padding: 0 10px;
}

.flex{
display: flex;
}
.flex img{
height: 125px;
    width: 150px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rightBox{
    display: flex;
    margin: 12px;
  }

.left img{
  width: 100px;
  height: 85px;
}

.container{ 
  height:auto;
  padding: 0 10vw; 
}

.containerHeader{ 
  height: fit-content;
  padding: 0 10vw; 
}

nav{
  font-size: 12px;
  padding-top: 14px;
  flex-wrap: wrap;
}

nav ul li{
  list-style: none;
  padding: 0 12px;
  flex-wrap: wrap;
}

.section1{
  background: #f2f2f2; 
}

.right search{
 
display: inline-block;
float: left;
font-size: 14px;
height: 0px;
line-height: 4px;
width: 10%;

}
.g{
  padding: 0px 5px;
}
.Home{ 
  white-space: nowrap;
  display: inline-block;
}
.flex{
    flex-direction: row;
    display:flex;
    flex-wrap: nowrap;
    padding: 0px 10px;
  }
  
  .items-center{
    align-items:center;
  } 
  
  .justify-center{
    justify-content: center;
  }
  
  .space-between{
    justify-content: space-between;
  }
  
  .uppercase{
    text-transform: uppercase;
  }
  
  .semibold{
    font-weight: bolder;
  }
  
  .mx-2{
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .my-2{
    margin: 12px 0;
  }

  .homeImg{
    width: 80vw;
    margin: 12px 0;
  }
  footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }
    
    header{
      position: sticky;
      top: 0;
      background: white;
      height: 66px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .rightBox{
       flex-direction: column;
        display: flex;
        margin: 12px;
      }
    
    .left img{
      width: 150px;
      height: 100px;
    }
    
    .container{ 
      padding: 0 5vw; 
    }
    
    .containerHeader{ 
      padding: 0 10vw; 
    }
    
    nav{
      font-size: 12px;
      padding-top: 14px;
    }
    
    nav ul li{
      list-style: none;
      padding: 0 12px;
      flex-wrap: wrap;
    }
    
    .section1{
      background: #f2f2f2; 
    }
    
    .search{
      flex-direction: column;
      height: 20px;
      line-height: 24px;
      width: 34vw;
        padding: 7px 17px;
        border: 0.5px solid grey;
        background: #f7f8fd;
        border-radius: 5px;
    }
    .right{ 
      flex-direction: row;
    }
    
    .homeImg{
      width: 80vw;
      margin: 12px 0;
    }
    
    .itemImg{
      width: 25vw;
      margin: 10px 12px;
    }
    
    footer{
      padding: 23px;
      text-align: center;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    }
    
    .tall{
      min-height: 40vh;
    }
    
    @media (max-width: 450px) { 
    .search {
        width: 72vw; 
    }
    }
    
@media (max-width: 1550px) { 
  nav ul li {
    list-style: none;
    padding: 0 4px;
    font-size: 10px;

    }
    .containerHeader {
        padding: 0 2vw;
    }
      
    header{ 
      height:122px;
    }  
    
      nav{
        flex-direction: row;
        align-items: center;

      }
    
      .right{ 
        flex-direction: row;
      }
    
      .rightBox{
        display: flex;
        flex-direction: row;
        margin: 12px;
      }
    }
    .flex{
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;

    }
    
    .items-center{
      align-items:center;
    } 
    
    .justify-center{
      justify-content: center;
    }
    
    .space-between{
      justify-content: space-around;
    }
    
    .uppercase{
      text-transform: uppercase;
    }
    
    .semibold{
      font-weight: bolder;
    }
    
    .mx-2{
      margin-left: 12px;
      margin-right: 12px;
    }
    
    .my-2{
      margin: 12px 0;
    }
    
    .flex-wrap{
      flex-wrap: wrap;
    }    